dash==1.17.0
dash-core-components==1.13.0
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.0
dask==2.11.0
Flask==1.1.1
Flask-Compress==1.8.0
Flask-Cors==3.0.9
Flask-RESTful==0.3.8
plotly==4.9.0
joblib==0.14.1










